@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.card .category:not([class*=text-]) {
    color: #999;
    font-size: 12px !important;
}

.btn.btn-simple,
.btn.btn-simple:hover,
.btn.btn-simple:focus,
.btn.btn-simple:active {
    padding: 12px 15px;
}

.form-control,
.form-group .form-control {
    border: 0;
    background-image: linear-gradient(#0D0030, #0D0030), linear-gradient(#D2D2D2, #D2D2D2);
    background-size: 0 2px, 100% 1px;
}

.form-group.is-focused .form-control {
    outline: 0;
    background-image: linear-gradient(#0D0030, #0D0030), linear-gradient(#D2D2D2, #D2D2D2);
}

a:focus,
a:hover {
    color: #0D0030;
}

.full-page.login-page .content {
    background: #777777;
}

.footer2 {
    background: #777777;
}

.btn-sureG,
.btn-sureG:hover,
.btn-sureG:focus {
    background-color: #0D0030;
}

.card-header {
    background-color: #0D0030 !important;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(13, 0, 48, .4) !important;
}

.card-title {
    color: #fff !important;
}