.sidebar[data-active-color="mtn"] li.active > a,
.off-canvas-sidebar[data-active-color="mtn"] li.active > a {
    background-color: rgba(255,255,255,0.2);
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14);
    color: #fff;
}

.card-side-blue{
    border-left: 5px solid #006993;
}

.card-side-yellow{
    border-left: 5px solid #ffCB05;
}

.card-side-orange{
    border-left: 5px solid #ff9100;
}





.spinner-overlay{
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.75);
    z-index:1030;
    /*display:table-cell;*/
    display: flex;
    align-items: center;
    justify-content: center;

}

.dialogbox{
    background:#fff;
    border-radius:5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;*/

}

.loader {
    text-indent: -9999em;
    margin-right:10px;
    float:left;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #006993;
    background: -moz-linear-gradient(left, #006993 10%, #006993 42%);
    background: -webkit-linear-gradient(left, #006993 10%, #006993 42%);
    background: -o-linear-gradient(left, #006993 10%, #006993 42%);
    background: -ms-linear-gradient(left, #006993 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #006993 10%, rgba(66, 195, 240, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #006993;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #fff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.form-control, .form-group .form-control {
    border: 0;
    background-image: linear-gradient(#FFCB05,#FFCB05),linear-gradient(#D2D2D2,#D2D2D2);
    background-size: 0 2px,100% 1px;
}

.form-group.is-focused .form-control {
    outline: 0;
    background-image: linear-gradient(#FFCB05,#FFCB05),linear-gradient(#D2D2D2,#D2D2D2);
}

.card{
    margin:25px 0 0 0;
}

.no-padding{
    padding:0;
}

.my-3{
    margin-top:3em;
    margin-bottom: 3em;
}


/**  BUTTONS  **/
.btn-rejected{
    background-color: #f0716a !important;
    color:#fff;
}
.btn-rejected:hover{
    background-color: #f0716a !important;
}


.btn-pending{
    background-color: #ffbd66 !important;;
    color:#fff;
}
.btn-pending:hover,.btn-pending:focus, .btn-pending:active{
    background-color: #ffbd66 !important;
}


.btn-approved{
    background-color: #2185ad !important;;
    color:#fff;
}
.btn-approved:hover, .btn-approved:focus, .btn-approved:active{
    background-color: #2185ad !important;
}


.btn-inactive{
    background-color: #ffdd59 !important;
    color:#333 !important;;
}
.btn-inactive:hover, .btn-inactive:focus, .btn-inactive:active{
    background-color: #ffdd59 !important;
    color:#555 !important;;
}


.btn-active{
    background-color: #2185ad !important;
    color:#fff;
}
.btn-active:hover, .btn-active:focus, .btn-active:active{
    background-color: #2185ad !important;
}

.btn-blue:hover{
    background-color: transparent;
    color: #2185ad !important;
}

.modal-footer{
    border-top: 1px solid #b4b4b4;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active {
    background-color: rgb(238, 238, 238);
    color: #555;
}

.table-responsive{
    overflow-y: hidden;
}

/** badges **/
.badge {
    padding: 5px 20px;
}

.badge-rejected, .badge-inactive{
    background-color: rgba(239, 64, 53, 0.7) !important;
    color:#fff;
    font-weight: 400;
}

.badge-pending{
    background-color: rgba(0,0,0,0.6) !important;;
    color:#FFF;
    font-weight: 400;
}

.badge-approved, .badge-active{
    background-color: rgba(255, 221, 89, 0.9)!important;
    color:#333;
    font-weight: 400;
}


.btn-blue{
    background-color: transparent;
    color: #2185ad !important;
    font-weight: 400;
}

.bootstrap-datetimepicker-widget table td.today > div:before {
    border-bottom-color: #2185ad !important;
}

.bootstrap-datetimepicker-widget table td.active > div,
.bootstrap-datetimepicker-widget table td.active:hover > div {
    background-color: #2185ad !important;
    color: #FFFFFF;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}


.bootstrap-datetimepicker-widget table td span.active {
    background-color: #2185ad !important;
    color: #FFFFFF;
}

.spinner-overlayfull{
    position: absolute;
    width:100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.75);
    z-index:1030;
    /*display:table-cell;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-flex-height{
    min-height:0px;
}

.form-group label.control-label {
    color: #444 !important;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.card .category:not([class*=text-]) {
    color: #999;
    font-size: 12px !important;
}


/** 6 dec 2017 **/
.btn.btn-simple, .btn.btn-simple:hover, .btn.btn-simple:focus, .btn.btn-simple:active{
    padding: 12px 15px;
}

.back-top {
    position:fixed;
    bottom:30px;
    right:20px;
    opacity:0.8;
    z-index: 99;
}

.pagination.pagination-warning>.active>a,
.pagination.pagination-warning>.active>a:focus,
.pagination.pagination-warning>.active>a:hover,
.pagination.pagination-warning>.active>span,
.pagination.pagination-warning>.active>span:focus,
.pagination.pagination-warning>.active>span:hover {
    background-color: #02364a !important;
    border-color: #02364a !important;
}

@media screen and (max-width: 600px) {
    table {width:100%;}
    thead {display: none;}
    tr:nth-of-type(2n) {background-color: inherit;}
    tr td:first-child,tr:first-child td:first-child {background: #e8e8e8; font-weight:bold;}
    tbody td {display: block;  text-align:left;}
    tbody td:before {
        content: attr(data-th);
        display: block;
        text-align:left;
    }
    tr:first-child td{
        line-height: 1.42857143;
        border-top: 1px solid #ddd !important;
        background: #fff;
    }

    tbody td:first-child:before {
        content: attr(data-th);
        display: inline;
        text-align:left;
    }
}

@media (max-width: 991px){
    .form-group.form-search .form-control {
        font-size: 1.7em;
        height: 37px;
        width: 100%;
    }
}
